<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="userName" value="戚晓"/>
    <add key="idCar" value="450922199406244008"/>
    <add key="customerId" value="333214"/>

  </appSettings>
</configuration>