<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="userName" value="用户名"/>
    <add key="idCar" value="身份证"/>
    <add key="customerId" value="用户id"/>

  </appSettings>
</configuration>